$accent: #ff4162;
$accent-2: #f20b97;

$text: #00283a;
$text-2: #7b7b7d;

$bg: #fcfcfe;
$bg-2: #f4f5f7;

$title: rgba(252, 252, 254, 1);

$divider: rgba(225, 225, 235, 0.9);

$shadow: rgba(0, 0, 0, 0.15);

.trm-white-icon {
	display: none;
}

.trm-logo-text {
	color: $text;
}
